:80 {
  root * /var/www/public
  encode gzip zstd

  php_fastcgi php:9000
  file_server

  # Opcional: seguridad básica
  # header {
  #   X-Content-Type-Options nosniff
  #   X-Frame-Options DENY
  # }
}
